<center><h1 class="titulo">Nuevo Articulo</h1></center>
<br>


<div class="well col-xs-8 col-xs-offset-2 shadow">
<%= render 'form' %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
<%= link_to 'Atrás', articles_path, class: "btn btn-danger btn-lg center-block atras" %> 
<% end %>
</div>

